.cards-list {
  display: grid;
  width: 100%;
  padding: 0;
  margin-top: 30px;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
  gap: 2%;
}

.card {
  transition: all ease-in-out 0.5s;
  position: relative;
  padding: 20px;
  border: 2px solid #f5f5f5;
  border-radius: 24px;
  list-style: none;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  background-color: #ffffff;
  &:hover {
    transform: scale(1.01);
    box-shadow: 0px 20px 40px 0px rgba(211, 211, 211, 0.45);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
  }
  .card-carousel {
    .carousel__slide {
      width: 100%;
      min-height: 180px;
      max-height: 180px;
      object-fit: contain;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    .carousel__pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      place-content: center;
      place-items: center;
      gap: 10px;
      margin: 25px 0;
      margin-left: -10%;
      .carousel__pagination-button {
        width: 6px;
        height: 6px;
        place-content: center;
        place-items: center;
        background-color: #ffd60a53;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      .carousel__pagination-button::after {
        all: unset;
      }
      .carousel__pagination-button--active {
        background-color: $primary-yellow;
        width: 30px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }
    }
  }
  .card__title {
    margin: 0;
    margin-bottom: 12px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-height: 3em;
  }
  .card__desc {
    margin: 0;
    max-height: 7em;
    color: #878787;
  }
  .card__views {
    display: block;
    margin: 0;
    margin-top: 10px;
    font-size: 12px;
    color: #878787;
  }
  .card_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card__favorites-btn {
    position: absolute;
    padding: 0;
    top: 15px;
    right: 28px;
    border: 0;
    background-color: transparent;
    width: 28px;
    height: 28px;
    z-index: 10;
    cursor: pointer;
  }
  .card__newPrice-wrapper {
    margin: 10px 0;
    p {
      &:nth-child(1) {
        margin-bottom: 5px;
        font-size: 18px;
      }
      &:nth-child(2) {
        text-decoration: line-through;
      }
      margin: 0;
    }
  }
  .card__basked-btn {
    // position: absolute;
    width: fit-content;
    bottom: 24px;
    right: 24px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 18px;
    border-radius: 50px;
    border: 0;
    background-color: $primary-yellow;
    cursor: pointer;
    transition: all ease-in-out 0.6s;
    -webkit-transition: all ease-in-out 0.6s;
    -moz-transition: all ease-in-out 0.6s;
    -ms-transition: all ease-in-out 0.6s;
    -o-transition: all ease-in-out 0.6s;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    p {
      transform: scale(1);
      transition: all ease-in-out 0.6s;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: none;
      -webkit-transition: all ease-in-out 0.6s;
      -moz-transition: all ease-in-out 0.6s;
      -ms-transition: all ease-in-out 0.6s;
      -o-transition: all ease-in-out 0.6s;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }
    &:hover {
      transition: all ease-in-out 0.6s;
      -webkit-transition: all ease-in-out 0.6s;
      -moz-transition: all ease-in-out 0.6s;
      -ms-transition: all ease-in-out 0.6s;
      -o-transition: all ease-in-out 0.6s;
      p {
        transition: all ease-in-out 0.6s;
        -webkit-transition: all ease-in-out 0.6s;
        -moz-transition: all ease-in-out 0.6s;
        -ms-transition: all ease-in-out 0.6s;
        -o-transition: all ease-in-out 0.6s;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        display: block;
      }
    }
    &:disabled {
      p {
        display: none;
      }
      opacity: 0.3;
    }
  }
}