@media (min-width: 1200px) {
  .container {
    padding: 0px 6%;
  }
  .link {
    color: #000;
    text-decoration: none;
  }
  .products-list {
    display: grid;
    grid-template-columns: 4;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .pointer-events {
    pointer-events: none;
  }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .header__category-btn-wrapper {
      .header__categories-wrapper {
        display: none;
      }
    }

    .header__category-btn-wrapper--active {
      .header__categories-wrapper {
        display: block;
      }
    }

    .header__category-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      padding: 14px 20px;
      border: 0;
      border-radius: 10px;
      background-color: $primary-yellow;
      cursor: pointer;
      z-index: 999;
    }

    .header__category-text {
      margin: 0;
      margin-left: 12px;
    }

    .header__categories {
      position: absolute;
      display: flex;
      flex-direction: column;
      padding: 1% 2% 0% 1%;
      width: fit-content;
      top: 12%;
      left: 11.5%;
      z-index: 999;
      border-radius: 3%;
      background-color: #ffffff;
      box-shadow: 0px 2.833px 22.662px 0px rgba(0, 0, 0, 0.15);
      .header__categories-link {
        padding: 5%;
        text-decoration: none;
        width: max-content;
        color: #afb0b4;
        margin: 0 4% 3% 0;
        border-radius: 10px;
        transition: all 0.3s ease;
        &:hover {
          color: #000000;
          background-color: #f5f5f5;
        }
      }
    }

    .header__search-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      width: 60%;
      border-radius: 12px;
      border: 3px $primary-yellow solid;
      .header__search-input {
        padding: 11px 16px;
        border: 0;
        width: 100%;
        border-radius: 12px;
        &:focus {
          outline: none;
        }
      }
  
      .header__search-btn {
        display: flex;
        align-items: center;
        padding: 10px 26px;
        border: 0;
        background-color: $primary-yellow;
        cursor: pointer;
      }
    }

    

    .header__search-text {
      margin: 0;
      margin-left: 12px;
    }

    .search-products--open {
      display: block !important;
    }

    .search-products {
      display: none;
      position: absolute;
      padding: 1%;
      z-index: 10;
      top: 10%;
      left: 25%;
      width: 53%;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.15);
      .search-products__item {
        list-style: none;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        &:hover {
          background-color: #f5f5f5;
        }
        .link {
          display: flex;
          justify-content: space-between;
          padding: 2%;
          img {
            width: 150px;
            height: 70px;
            object-fit: contain;
          }
          div {
            width: 50%;
            h3 {
              margin: 0;
              margin-bottom: 5px;
              width: fit-content;
            }
            p {
              margin: 0;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
            }
          }
        }
      }
    }

    .header__storage {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 8px;
      margin-right: 20px;
      border-radius: 10px;
      text-decoration: none;
      color: #000;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #f5f5f5;
      }
    }

    .header__basked-wrapper {
      position: relative;
    }

    .header__basked-wrapper:hover {
      .header__store-products {
        display: block;
      }
    }

    .header__store-products {
      display: none;
      position: absolute;
      padding: 8%;
      margin: 0;
      width: 600%;
      top: 100%;
      left: -520%;
      z-index: 100;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0px 2.833px 22.662px 0px rgba(0, 0, 0, 0.15);
    }
    .header__store-products-list {
      padding: 0;
      margin: 0;
    }
    .header__store-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1%;
      margin-bottom: 2%;
      border-radius: 10px;
      background-color: #f5f5f5;
      img {
        width: 20%;
      }
      .header__store-item-title {
        margin: 0;
        margin-bottom: 8px;
      }
      .header__store-item-price {
        margin: 0;
        margin-bottom: 5px;
      }
      .header__store-item-delete {
        padding: 0;
        margin: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
      }
    }
    .header__store-products-btn {
      display: block;
      padding: 2% 2%;
      text-align: center;
      text-decoration: none;
      width: 100%;
      border-radius: 10px;
      color: #000000;
      background-color: $primary-yellow;
    }

    .header__storage-text {
      margin: 0;
    }

    .header__storage-wrapper {
      display: flex;
      align-items: center;
    }

    .header__storage-num {
      position: absolute;
      padding: 0 4px;
      top: 5px;
      right: 5px;
      font-size: 11px;
      border-radius: 4px;
      background-color: $primary-yellow;
    }
  }
  .bottom-header {
    margin: 1% 0 0 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .bottom-header-link {
      justify-content: center;
      display: flex;
      border-right: 1px solid #f5f5f5;
      border-left: 1px solid #f5f5f5;
      font-size: 14px;
      font-style: normal;
      font-weight: 550;
      padding: 8px 2%;
      line-height: normal;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      &:last-child {
        border-right: unset;
      }
      &:first-child {
        border-left: unset;
      }
      &:hover {
        border-radius: 8px;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        cursor: pointer;
        background: $primary-yellow;
      }
    }
  }
  .footer {
    margin-top: 150px;
    padding-bottom: 0px;

    .footer__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .footer__about {
      width: 40%;
      padding-right: 130px;
      padding-bottom: 100px;
      border-right: 1px solid #b3b3b351;
    }

    .footer__about-title {
      font-size: 28px;
      font-weight: 400;
    }

    .footer__about-text {
      color: #b3b3b3;
    }

    .footer__categories {
      display: flex;
      flex-direction: column;
    }

    .footer__categories-title {
      font-size: 28px;
      font-weight: 400;
    }

    .footer__categories-link {
      margin-bottom: 20px;
      text-decoration: none;
      color: #b3b3b3;
      transition: 0.3s ease;
      &:hover {
        color: $primary-yellow;
      }
    }

    .footer__contact-wrapper {
      display: flex;
      flex-direction: column;
    }

    .footer__contact-link {
      transition: color 0.3s ease;
      &:hover {
        color: $primary-yellow;
      }
    }

    .footer__contact {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .footer__contact-link {
      margin-left: 12px;
      text-decoration: none;
      color: #b3b3b3;
    }

    .footer__messenger {
      margin-right: 20px;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.5;
      }
    }

    .footer__map-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 11px;
      margin-top: 65px;
      border-radius: 8px;
      background-color: #f5f5f5;
    }

    .footer__map-text {
      margin: 0;
      margin-right: 20px;
    }

    .footer__map-link {
      display: flex;
      padding: 8px;
      text-decoration: none;
      color: #ffffff;
      border-radius: 6px;
      background-color: $primary-yellow;
    }

    .footer__map {
      margin: 0;
      margin-right: 6px;
    }

    .products-list {
      display: flex;
      flex-wrap: wrap;
    }
    
  }
  .bottom_footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #b3b3b351;;
    margin-top: 2%;
    padding: 1% 0;
  }

  .main {
    .hero_swiper {
      width: 100%;
      margin-top: 2%;
      height: 70vh;
      position: relative;
      border-radius: 16px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
      .hero-swiper {
        border-radius: 16px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      position: relative;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
        height: 100%;
        width: 100%;
        display: flex;
        .slide_content {
          padding: 5% 8%;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          place-content: center;
          place-items: center;
          .slide_content_text {
            display: flex;
            flex-direction: column;
            gap: 25px;
            span {
              &:nth-child(1) {
                color: #ffd60a;
                font-size: 64px;
                font-style: italic;
                font-weight: 700;
                line-height: 60px; /* 93.75% */
                text-transform: uppercase;
              }
              &:nth-child(2) {
                font-size: 56px;
                font-style: normal;
                font-weight: 700;
                line-height: 60px;
                text-transform: uppercase;
              }
              &:nth-child(3) {
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
            }
            .sale_item_link {
              display: flex;
              gap: 5%;
              border: 2px solid #000814;
              border-radius: 12px;
              width: 50%;
              padding: 10px;
              justify-content: center;
              align-items: center;
              span {
                width: fit-content;
                color: #000814;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
              svg {
                width: 31px;
              }
            }
          }
          .slide_content_details {
            position: relative;
            span {
              &:first-child {
                position: absolute;
                right: 20%;
                background-color: #ffd60a;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
              }
              &:last-child {
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                position: absolute;
                left: 0;
                top: 80%;
                background-color: #ffd60a;
                padding: 10px;
                border-radius: 40px;
                -webkit-border-radius: 40px;
                -moz-border-radius: 40px;
                -ms-border-radius: 40px;
                -o-border-radius: 40px;
              }
            }
            img {
              width: 400px;
              height: 400px;
              object-fit: contain;
            }
          }
        }
        .swiper-pagination {
          display: grid;
          place-items: center;
          margin-right: 95%;
        }
        .swiper-pagination-bullet {
          width: 12px;
          height: 12px;
          background-color: #969696;
        }
        .swiper-pagination-bullet-active {
          content: url(../../public/active.svg);
          width: 40px;
          height: 40px;
          background-color: transparent;
        }
        .swiper-slide {
          background-color: #f5f5f5;
          margin-bottom: 10px;
        }
      }
    }
    .sales_wrapper {
      position: relative;
      margin-top: 2%;
      display: flex;
      justify-content: center;
      margin-bottom: 2%;
      .sale_items {
        border: 1px solid #00081417;
        bottom: 0;
        z-index: 99;
        border-radius: 16px;
        display: grid;
        place-items: center;
        place-content: space-between;
        grid-template-columns: repeat(4, 1fr);
        background-color: #ffffff;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        box-shadow: 0px 4px 8px 0px rgba(211, 211, 211, 0.35);
        padding: 5px 40px;

        .sale_item {
          display: flex;
          align-items: center;
          gap: 10px;
          transition: border 0.3s ease-in-out;
          border-bottom: transparent solid 5px;
          -webkit-transition: border 0.3s ease-in-out;
          -moz-transition: border 0.3s ease-in-out;
          -ms-transition: border 0.3s ease-in-out;
          -o-transition: border 0.3s ease-in-out;
          &:hover {
            border-bottom: #ffd60a solid 5px;
          }
          img {
            width: 100px;
            height: 100px;
            object-fit: contain;

          }
          .sale_item_details {
            font-family: "DM Sans 9pt";
            p {
              &:first-child {
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
              &:last-child {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                background-color: #ffd60a;
                width: fit-content;
                padding: 5px 10px;
                border-radius: 100px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                -ms-border-radius: 100px;
                -o-border-radius: 100px;
              }
            }
          }
        }
      }
    }
    .categories_container {
      margin-bottom: 2%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5%;
      .categories_item {
        &:last-child {
          grid-area: 2 / 3 / 3 / 5;
          background: #ffc0141e;
          .category_img {
            width: 30%;
            padding-right: 20px;
            height: 100%;
            object-fit: cover;
            place-self: flex-end;
          }
        }
        &:nth-child(1) {
          background: #fcf2f5;
        }
        &:nth-child(2) {
          background: #f6f8ff;
        }
        &:nth-child(3) {
          background: #ffffe1;
        }
        &:nth-child(4) {
          background: #fff7f2;
        }
        &:nth-child(5) {
          background: #f6f2ff;
        }
        &:nth-child(6) {
          background: #f2fff5;
        }
        display: flex;
        padding: 15px 0 15px 15px;
        flex-direction: column;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        .category_name {
          font-size: 24px;
          width: 40%;
          height: 0;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .category_img {
          width: 70%;
          height: 100%;
          object-fit: cover;
          place-self: flex-end;
        }
        .category_link {
          display: flex;
          align-items: center;
          gap: 10px;
          border: 1px solid black;
          width: fit-content;
          padding: 0px 16px;
          height: 34px;
          border-radius: 8px;
          color: #000;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          &:hover {
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            svg {
              display: block;
              transform: scale(1);
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              -ms-transform: scale(1);
              -o-transform: scale(1);
            }
          }
          svg {
            transform: scale(0);
            display: none;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
          }
        }
      }
    }
    .popular_brands {
      margin-bottom: 5%;
      .swipers_wrapper {
        background-color: $primary-yellow;
        padding: 5% 0;
        border-radius: 16px;
        .brand_swiper {
          margin-bottom: 5%;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .title-wrapper {
      padding-bottom: 15px;
      &:nth-child(2) {
        display: flex;
        width: fit-content;
        justify-content: flex-start;
        h2 {
          margin-right: 1%;
        }
      }
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .SeeAll {
        padding: 0.8% 1.2%;
        border-radius: 10px;
        text-decoration: none;
        font-size: 20px;
        display: flex;
        justify-content: center;
        font-weight: 500;
        margin-left: 15px;
        color: #000;
        width: 8%;
        background-color: $primary-yellow;
      }
    }
    .products-list {
      display: grid;
      grid-template-columns: 4;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .products-list__item {
      padding: 8px;
      border-radius: 8px;
      border: 2px solid;
    }

    .products-list__item-img {
      background-color: #c1c1c1;
    }
    .list-category {
      margin-top: 0;
    }
    .card-btns-wrapper {
      margin-left: 91%;
      padding-bottom: 3%;
    }
    .pagination-btn {
      &:disabled {
        opacity: 0.5;
      }
      :nth-child(1) {
        margin-left: 10px;
      }
      padding: 0;
      margin: 0;
      border: 0;
      background-color: transparent;
    }
    .list-category-wrapper {
      padding: 1% 0% 0.1% 0%;
      margin-bottom: 3%;
      width: 100%;
      background-color: #f5f5f5;
    }
  }
}
