@import 'veriables';
@import 'main';
@import 'about';
@import 'card';
@import 'basked';
@import 'product';
@import 'categories';
@import 'categoriesM';

::placeholder {
  color: #AFB0B4;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-family: "DM Sans 9pt";
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  font-family: "DM Sans 9pt";
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: unset;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #ffd60a;

    height: 156px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #ffd60a5b;
    cursor: pointer;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

svg {
  width: fit-content;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @supports (-webkit-overflow-scrolling: touch) {
    a {
      text-decoration: none;
      color: #000; /* Safari on iPhone text color with -webkit prefix */
    }
    button {
      text-decoration: none;
      color: #000;
    }
  }
}